<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tinysine.lazyboneble">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!--
 If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        tools:targetApi="lollipop">
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
            Example File:
            <resources>
                 <string name="google_maps_key" templateMergeStrategy="preserve" translatable="false">YOUR_KEY_HERE</string>
            </resources>
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".geolocation.SelectMapsHomeLocation"
            android:exported="true"
            android:label="@string/title_activity_select_maps_home_location" />
        <activity
            android:name=".Bluemd"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/activity_title"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ModeSettingActivity"
            android:screenOrientation="fullSensor" />

        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />

        <receiver
            android:name=".service.AutoStartReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".geolocation.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
         </receiver>
<!--        <receiver-->
<!--            android:name=".Bluemd$locationTransitionReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--        </receiver>-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5625e172e0f55a42350010da" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ble" />
    </application>

</manifest>